header

  div.controls.pull-right
    a.btn.btn-default(href="#",ng-click="fullscreen()",ng-if="allowFullscreen") 
      i.fa.fa-expand.fa-fw
    div.dropdown.pull-right(ng-if="hasMenu") &nbsp;
      a.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
        i.fa.fa-ellipsis-v.fa-fw
      ul.dropdown-menu
        li
          a(href="#",ng-click="toggleFilters()") Filtros
        li(ng-repeat="item in menuitems")
          a(href="#")
            | {{item.name}}
  div.htitle
    | {{panel.title}}            
div.p-body(ng-transclude)
