header

  div.controls.pull-right(ng-if="!editing")
    button.btn.btn-sm.btn-default(href="#",ng-click="call_onEdit()", ng-if="options.onEdit") 
      i.fa.fa-pencil
    button.btn.btn-sm.btn-default(href="#",ng-click="options.showDash()", ng-if="options.hasDash") 
      i.fa.fa-dashboard
    button.btn.btn-sm.btn-default(href="#",ng-click="fullscreen()",ng-if="options.hasFull") 
      i.fa.fa-expand

    div.dropdown.pull-right(ng-if="options.hasMenu") &nbsp;
      a.btn.btn-sm.btn-default.dropdown-toggle(data-toggle="dropdown",href="#")
        i.fa.fa-ellipsis-v.fa-fw
      ul.dropdown-menu
        li(ng-if="options.hasFilters")
          a(href="#",ng-click="options.toggleFilters()")
            i.fa.fa-filter.fa-fw
            | &nbsp;{{'Filtros' | translate}}
        li.divider(ng-if="options.hasFilters")
        li(ng-if="options.hasAdd")
          a(href="#",ng-click="add()")
            i.fa.fa-plus.fa-fw
            |  &nbsp;{{'Agregar' | translate}}      
        li(ng-if="options.hasReports")
          a(href="#",ng-click="reports()")
            i.fa.fa-table.fa-fw
            |  &nbsp;{{'Reportes' | translate}}      

  div.contols.pull-right(ng-if="editing")
      button.btn.btn-sm.btn-success(href="#",ng-click="call_onSave()") 
        i.fa.fa-save
      button.btn.btn-sm.btn-default(href="#",ng-click="call_onUndo()") 
        i.fa.fa-save          
  div.htitle
    | {{panelName}}            
div.p-body(ng-transclude)
