.row
  div.col-xs-12.col-sm-12.col-md-6.col-lg-4
    div(panel="panelOptions")
      div.grid(id="grid1",ui-grid="svcGridOptions", ui-grid-auto-resize ui-grid-selection)
            
  div.col-xs-12.col-sm-12.col-md-6.col-lg-4
    div(panel="panel2Options")
      | hello
          
            
