.row
  div.col-xs-12.col-sm-12.col-md-6.col-lg-4
    div(panel="panelOptions",resize="resized(height)",fullgrid="true",toggle-filters="toggleFilters()")
      div.grid(id="grid1",ui-grid="svcGridOptions", ui-grid-auto-resize)
            
  div.col-xs-12.col-sm-12.col-md-6.col-lg-4
    div(panel="panel2Options")
      | hello
          
            
