.row
  div.col-xs-12.col-sm-6.col-md-6.col-lg-4
    div(panel="panelOptions")
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>              to the <code>.widget-body</code> class.
      p END
  div.col-xs-12.col-sm-6.col-md-6.col-lg-4
    div(panel="panelOptions")
      form(id="formx")
      .form-group
        label(for="exampleInputEmail1") Email address
        input#exampleInputEmail1.form-control(type="email",value="rriosarias@hotmail.com")
      .form-group
        label(for="exampleInputPassword1") Password
        input#exampleInputPassword1.form-control(type="text",value="Password")
      .checkbox
        label
          input(type="checkbox") 
          | Check me out
      .form-group
        label(for="txt") Area de Texto
        textarea#txt.form-control
          
      a.submit(href="#",onclick="$('#sbmt').click()") 
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-floppy-o.fa-stack-1x.fa-inverse
      button.btn.btn-default(type="submit",id="sbmt") submit

  div.col-xs-12.col-sm-6.col-md-6.col-lg-4
    div(panel) 
      p Now is the time                      
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
    div(panel)
      p Now is the time
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
    div(panel)
      p Now is the time

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='deleteThing(thing)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

footer.footer
  .container
    p
      | Affaris v1.0.0
      = ' | '
      | &copy; 2015 Ari Technologies
    
