div(panel="detailPanelOptions",panel-name="user.email")
  ul.nav.nav-tabs
    li(ui-sref-active="active")
      a(ui-sref="admin.users.detail.info") Info
    li(ui-sref-active="active")
      a(ui-sref="admin.users.detail.profiles") Permisos
  br
  div.ui-view
