.row
  div.col-xs-12.col-sm-6.col-md-6.col-lg-4
    div.hidden-xs(panel="panelOptions",panel-name="'Usuarios' | translate")
      div(id="userSearchGrid",ui-grid="gridOptions", ui-grid-auto-resize ui-grid-selection)
    div.visible-xs.hidden-sm.hidden-md.hidden-lg(panel="panelOptionsPhone",panel-name="'Usuarios' | translate")
      div.hidden-sm.hidden-md.hidden-lg
        ui-select(ng-model="user.selected",theme="bootstrap",on-select="phoneSelected($item)")
          ui-select-match(placeholder="{{'SeleccioneOBusque' | translate}}")
            span(ng-bind="$select.selected.email")
          ui-select-choices(repeat="item in (userlist | filter: $select.search) track by item._id")
            span(ng-bind="item.email")
  div.col-xs-12.col-sm-6.col-md-6.col-lg-8
    div.ui-view
